* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  color: #333;
}

#container {
  background: white;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  overflow: hidden;
}

#header {
  padding: 50px;
  text-align: center;
  color: white;
  background: linear-gradient(to right, #3498db, #2c3e50);
}

#header a{
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  margin-bottom: 5px;
}

#header i{
  font-size: 2.2rem;
}

#header h1 {
  font-size: 2.2rem;
}

#header p {
  margin-top: 10px;
  font-size: 1.1rem;
}

#signup-form{
  margin: 15px;
}

#signup-header h2{
  font-size: 2.2rem;
  color: #2c3e50;
  margin-bottom: 10px;
}

#signup-header p{
  font-size: 1.1rem;
  color: #2c3e50;
}

#tipo-de-conta{
  text-align: center;
  margin: 30px 0 30px 0;
}

#candidato{
  border: 2px solid #3498db;
}

#empresa{
  border: 2px solid #e1e8ed;
}

#candidato, #empresa{
  margin: 20px;
  padding: 40px;
  border-radius: 7px;
}

#candidato i, #empresa i{
  font-size: 45px;
}

#candidato h3, #empresa h3{
  font-size: 1.2rem;
  color: #2c3e50;
}

#candidato p, #empresa p{
  color: #2c3e50;
  font-size: 1rem;
}

#formulario{
  margin: 30px;
}

#dados h3{
  font-size: 1.5rem;
  margin-bottom: 15px;
}

#dados label{
  font-size: 1.1rem;
  color: #2c3e50;
}

#dados input{
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  border: 2px solid #e1e8ed;
  border-radius: 10px;
  font-size: 1rem;
}

#campo-candidato h3{
  font-size: 1.5rem;
  color: #2c3e50;
  margin-bottom: 15px;
}

#campo-candidato label{
  font-size: 1.1rem;
  color: #2c3e50;
}

#campo-candidato #area-atuacao, input, #resumo{
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  border: 2px solid #e1e8ed;
  border-radius: 10px;
  font-size: 1rem;
}

#campo-empresa{
  display: none;
}

#campo-empresa h3{
  font-size: 1.5rem;
  color: #2c3e50;
  margin-bottom: 15px;
}

#campo-empresa label{
  font-size: 1.1rem;
  color: #2c3e50;
}

#campo-empresa #ramo-empresa, #descricao-empresa{
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  border: 2px solid #e1e8ed;
  border-radius: 10px;
  font-size: 1rem;
}

#termos{
  margin-top: 20px;
  display: flex;
}

#termos span{
  color: #2c3e50;
  font-size: 1rem;
  width: 80%;
}

#termos input{
  width: 10%;
}

#termos a{
  text-decoration: none;
}

#btn{
  width: 100%;
  padding: 17px;
  margin-top: 25px;
  border: none;
  border-radius: 7px;
  font-size: 1.1rem;
  background: linear-gradient(to right, #3498db, #2980b9);
  color: white;
  cursor: pointer;
}

#login-link{
  font-size: 1.1rem;
  color: #2c3e50;
  margin-top: 25px;
}

#login-link a{
  text-decoration: none;
}

/*=========RESPONSIVIDADE==========*/

/*
@media (min-width: 768px) {
  #container {
    max-width: 900px;
    margin: 40px auto;
  }

  #tipo-de-conta {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  #candidato,
  #empresa {
    width: 45%;
    margin: 0;
  }

  #formulario {
    margin: 40px;
  }
}

*/

@media (min-width: 768px) {
  #container {
    max-width: 900px;
    margin: 40px auto;
  }

  #tipo-de-conta {
     display: flex;
     justify-content: center;
     gap: 20px;
  }

  #candidato,
  #empresa {
    width: 45%;
    margin: 0;
  }

  #formulario {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }

  #dados,
  #campo-candidato,
  #campo-empresa {
    margin: 0;
  }
  
  #termos span{
  color: #2c3e50;
  font-size: 1.6rem;
  width: 80%;
}

#termos input{
  width: 10%;
}

  #btn {
    grid-column: span 2;
  }

  #login-link {
    grid-column: span 2;
    text-align: center;
  }
}